@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-yellow-dark: #C47F17;
  --color-yellow: #DBAC2C;
  --color-yellow-light: #F1E9C9;
  --color-purple-dark: #4B2995;
  --color-purple: #8047F8;
  --color-purple-light: #EBE5F9;
  --color-base-title: #272221;
  --color-base-subtitle: #403937;
  --color-base-text: #574F4D;
  --color-base-label: #8D8686;
  --color-base-hover: #D7D5D5;
  --color-base-button: #E6E5E5;
  --color-base-input: #EDEDED;
  --color-base-card: #F3F2F2;
  --color-background: #FAFAFA;

  --font-baloo: 'Baloo 2', cursive;
  --font-roboto: 'Roboto', sans-serif;

  --breakpoint-l: 76rem;

  --border-image-degrade: linear-gradient(90deg, var(--color-yellow), var(--color-purple));
  --custom-radius: 6px 36px;
}

@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }

  .custom-border {
    border-radius: var(--custom-radius);
    padding: 1px !important;
    background-image: var(--border-image-degrade)
  }

  .inner {
    border-radius: var(--custom-radius);
    background-color: var(--color-white);
    padding: 2.5rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    gap:2rem;
  }

}